.parent {
    color: red;
}

h1 {
    font-size: 80px;
}

h1:first-letter {
    font-size: 110px;
    color: #bbb;
}

p {
    color: green;
    line-height: 25px;
    font-size: 18px;
}

li {
    color: green;
}

.parent > ul > li {
    color: yellow;
}

.parent > p + ul {
    margin-top: 20px;
    background: antiquewhite;
}

.parent > p + p {
    text-decoration: underline;
}

.parent > h1 + p {
    font-size: 30px;
    line-height: 40px;
    margin-left: 30px;
}

.parent > h1 + p:first-letter {
    color: yellow;
    font-size: 65px;
}